/*Import link for the Corben font from fonts.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&display=swap');

/*Bookmark challenge*/
html {
    scroll-behavior: smooth;
}

/*BODY*/

body{
    max-width: 960px;
    margin: auto;
    text-align: center;
    font-size: 14pt;
    font-family: "Corben", serif; /*Font from fonts.google.com*/
}

/*IMAGES*/
* {
    box-sizing: border-box;
}

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33%;
}

/*Modal (background)*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/*Modal content*/ 
.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/*Close button*/
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/*Next/Prev. image buttons*/
.prev, 
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Creates black, semi-transparent background color when hovering*/
.prev:hover,
.next:hover {
    background-color: rgba(5, 160, 134, 0.8);
}

/*Number text*/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover.shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*FORM*/

#Contact{ /*Sets default styling for content within the contact section*/
    display: block;
    margin-bottom: 20px;
}

form{ /*Sets default styling for input elements within the form section*/
    display: table; 
    margin-left: auto;
    margin-right: auto;
}


form input{ /*Styles contact info input elements in the form section*/
    margin: 10px 10px 10px 10px;
    width: 33%;
    border: solid black;
    border-radius: 5px;
}

textarea{ /*Styles the message input element in the form section*/
    width: 75%;
    border: solid black;
    box-sizing: border-box;
    resize: both;
    border-radius: 5px;
}

input[type="submit"]{ /*Styles the submit button in the form section*/
    border: solid black;
    border-radius: 5px;
    margin-top: 20px;
}
